<div id="faq" class="bg-p">
  <div class="left">
    <img src="../../../assets/nurse-2.svg" alt="Nurse" />
  </div>
  <div class="right">
    <h1>Frequently Asked Questions</h1>
    <p class="question">Question 1</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et velit
      tellus. Mauris lacinia felis sed nulla placerat, at mollis dui viverra.
      Maecenas vel mollis nulla.
    </p>
    <p class="question">Question 2</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et velit
      tellus. Mauris lacinia felis sed nulla placerat, at mollis dui viverra.
      Maecenas vel mollis nulla.
    </p>
  </div>
</div>
<app-header [isStart]="false"></app-header>
