.header {
  position: absolute;
  top: 0;

  width: 100%;
  z-index: 2;

  .header-container {
    padding: 64px 0;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-item a {
    font-weight: bold;
    margin: 0 32px;
    text-decoration: none;
    font-size: 20px;

    &:hover {
      color: #038062 !important;
    }
  }
}
