<div id="dashboard" class="bg-p">
  <div class="dashboard-container">
    <h1>Welcome! How can I help you today?</h1>
    <div class="buttons">
      <button
        class="button-s"
        [routerLink]="['/login']"
        [queryParams]="{ type: 'check-in' }"
      >
        Check in to my appointment
      </button>
      <button class="button-s" routerLink="/clinic-selection">
        Make a new appointment
      </button>
      <button class="button-s" [routerLink]="['/perference']">
        Login to my profile
      </button>
    </div>
  </div>

  <div class="nurse-image">
    <img src="../../assets/nurse.svg" alt="Nurse" />
  </div>
</div>
