<div id="summary" class="bg-p">
  <div class="loading-bar">
    <app-loading-bar [steps]="3" [progress]="1"></app-loading-bar>
  </div>

  <div class="container">
    <h1>Please review the details and print the slip</h1>

    <div class="summary">
      <div class="image">
        <div class="image-container">
          <img src="../../../assets/cardiology.svg" alt="Cardiology" />
        </div>
      </div>
      <div class="summary-details">
        <div>
          <h2>Appointment booking</h2>
          <h2>Clinic: Orthopedy</h2>
          <p>Date: March 31, 2022</p>

          <p class="details no-margin">Patient: ***MA ***AK</p>
          <p class="details">ID: ********028</p>

          <p>Estimated waiting time: <span class="bold">07 minutes</span></p>

          <p class="no-margin">Queue number</p>
          <h3>012</h3>
        </div>
        <button class="button-s" (click)="onConfirm()">
          Confirm and print the slip
        </button>
      </div>
    </div>
  </div>

  <div id="back-button" (click)="goBack()">
    <img src="../../assets/back.svg" alt="Back button" />
  </div>
</div>
