<div id="keyboard">
  <div class="row">
    <div class="input" (click)="onInput('1')">1</div>
    <div class="input" (click)="onInput('2')">2</div>
    <div class="input" (click)="onInput('3')">3</div>
  </div>
  <div class="row">
    <div class="input" (click)="onInput('4')">4</div>
    <div class="input" (click)="onInput('5')">5</div>
    <div class="input" (click)="onInput('6')">6</div>
  </div>
  <div class="row">
    <div class="input" (click)="onInput('7')">7</div>
    <div class="input" (click)="onInput('8')">8</div>
    <div class="input" (click)="onInput('9')">9</div>
  </div>
  <div class="row">
    <div class="input" (click)="onInput('DELETE')">
      <img src="../../../assets/delete.svg" alt="Delete" />
    </div>
    <div class="input" (click)="onInput('0')">0</div>
    <div class="input submit" (click)="handleSubmit()">Submit</div>
  </div>
</div>
