<div id="preview" class="bg-p">
  <div class="loading-bar">
    <app-loading-bar [steps]="3" [progress]="2"></app-loading-bar>
  </div>

  <div class="container">
    <h1>Please select your appointment and review the details</h1>

    <div class="items">
      <div
        *ngFor="let item of appointments; let i = index"
        class="item"
        [ngClass]="{ focused: focused === i, active: selected?.id === item.id }"
        (click)="onItemClick(item.id, i)"
      >
        <div class="item-image">
          <img src="../../assets/{{ item.image }}" [alt]="item.name" />
        </div>

        <div class="all-details">
          <div class="details">
            <div class="clinic">
              <p>{{ item.date }}</p>
              <h4>{{ item.name }}</h4>
              <p>{{ item.block }} {{ item.floor }} {{ item.clinic }}</p>
            </div>
            <h5>{{ item.doctor }}</h5>
          </div>

          <div class="timing">
            <div class="timing-item">
              <div class="timing-img">
                <img src="../../assets/clock.svg" alt="Clock" />
              </div>
              <p>{{ item.time }}</p>
            </div>
            <div class="timing-item">
              <div class="timing-img">
                <img src="../../assets/people.svg" alt="Clock" />
              </div>
              <p>{{ item.queue }}</p>
            </div>
            <div class="timing-item">
              <div class="timing-img">
                <img src="../../assets/time.svg" alt="Clock" />
              </div>
              <p>{{ item.yourTurn }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="next-button">
    <button (click)="onNextClick()" [disabled]="!selected" class="button-s">
      Next
    </button>
  </div>

  <div id="back-button" (click)="goBack()">
    <img src="../../assets/back.svg" alt="Back button" />
  </div>
</div>
