/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif !important;
}

.bg-p {
  background-color: #e3e3e3 !important;
}

.c-p {
  color: #019874 !important;
}

.button {
  background-color: #019874;
  height: 100px;
  width: 520px;
  border-radius: 20px;
  border: none;
  font-size: 40px;
  color: white;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
}

.button:hover {
  background-color: #018264;
}

.button:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 48px !important;
  font-weight: 700 !important;
  color: #3b413c !important;
}

.button-s {
  height: 110px;
  width: 585px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: 700;
  font-size: 32px;
  border: 0;
  background: #9db5b2;
  border-radius: 20px;
}

.button-s:hover:not(:disabled) {
  background-color: #019874;
}

/* old */
input {
  height: 115px;
  width: 610px;
  border-radius: 20px;
  font-size: 40px !important;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #9db5b2;
  border: none;
  color: white;
}

input:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

#back-button {
  position: absolute;
  bottom: 35px;
  left: 35px;
  cursor: pointer;
}

#next-button {
  position: absolute;
  bottom: 35px;
  right: 35px;

  button {
    width: 260px;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

#back-button img:hover {
  filter: invert(82%) sepia(15%) saturate(0%) hue-rotate(136deg)
    brightness(100%) contrast(90%);
}
