<div id="clinic" class="bg-p">
  <div class="loading-bar">
    <app-loading-bar [steps]="3" [progress]="1"></app-loading-bar>
  </div>

  <div class="container">
    <h1>
      Let's check you in for your appointment.<br />Please, choose the clinic
    </h1>

    <div class="select-box">
      <div *ngFor="let clinic of clinics" class="box" (click)="onItemClicked()">
        <div class="icon">
          <img src="../../assets/{{ clinic.image }}" [alt]="clinic.name" />
        </div>
        <div class="box-text">{{ clinic.name }}</div>
      </div>
    </div>
  </div>

  <div id="back-button" (click)="goBack()">
    <img src="../../assets/back.svg" alt="Back button" />
  </div>
</div>
